USE [master]
GO
/****** Object:  Database [FamilyTreeDb]    Script Date: 6/6/2019 1:38:04 PM ******/
CREATE DATABASE [FamilyTreeDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FamilyTreeDb', FILENAME = N'C:\Users\sadki\FamilyTreeDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FamilyTreeDb_log', FILENAME = N'C:\Users\sadki\FamilyTreeDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FamilyTreeDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FamilyTreeDb]
GO
USE [FamilyTreeDb]
GO
/****** Object:  Table [dbo].[PersonInfo]    Script Date: 6/6/2019 1:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[MiddleName] [nvarchar](max) NULL,
	[DateOfBirth] [datetime] NULL,
	[PlaceOfBirth] [nvarchar](max) NOT NULL,
	[LifeStatus] [nvarchar](max) NOT NULL,
	[MotherId] [int] NULL,
	[FatherId] [int] NULL,
 CONSTRAINT [PK_PersonInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PersonInfo] ON 

INSERT [dbo].[PersonInfo] ([Id], [FirstName], [LastName], [MiddleName], [DateOfBirth], [PlaceOfBirth], [LifeStatus], [MotherId], [FatherId]) VALUES (3057, N'Petter', N'Pettersen', NULL, CAST(N'2019-06-05T00:00:00.000' AS DateTime), N'Larvik', N'Alive', NULL, NULL)
INSERT [dbo].[PersonInfo] ([Id], [FirstName], [LastName], [MiddleName], [DateOfBirth], [PlaceOfBirth], [LifeStatus], [MotherId], [FatherId]) VALUES (3058, N'Pål', N'Jensen', NULL, CAST(N'2019-07-06T00:00:00.000' AS DateTime), N'Larvik', N'Alive', NULL, NULL)
INSERT [dbo].[PersonInfo] ([Id], [FirstName], [LastName], [MiddleName], [DateOfBirth], [PlaceOfBirth], [LifeStatus], [MotherId], [FatherId]) VALUES (3059, N'Hans', N'Olsen', N'Kåre', CAST(N'2019-08-07T00:00:00.000' AS DateTime), N'Larvik', N'Alive', NULL, NULL)
SET IDENTITY_INSERT [dbo].[PersonInfo] OFF
ALTER TABLE [dbo].[PersonInfo]  WITH CHECK ADD  CONSTRAINT [FK_PersonInfo_Father] FOREIGN KEY([FatherId])
REFERENCES [dbo].[PersonInfo] ([Id])
GO
ALTER TABLE [dbo].[PersonInfo] CHECK CONSTRAINT [FK_PersonInfo_Father]
GO
ALTER TABLE [dbo].[PersonInfo]  WITH CHECK ADD  CONSTRAINT [FK_PersonInfo_Mother] FOREIGN KEY([MotherId])
REFERENCES [dbo].[PersonInfo] ([Id])
GO
ALTER TABLE [dbo].[PersonInfo] CHECK CONSTRAINT [FK_PersonInfo_Mother]
GO
USE [master]
GO
